.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  flex: 1;
}

canvas {
  width: 100vw;
}

.trainer {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 30px;
}

.recognized-gesture {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 8rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px #000;
}

p {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 6px;
  color: #999;
  margin: 15px 0;
  text-shadow: 2px 2px #000;
  overflow: hidden;
  height: 3.6rem;
  white-space: nowrap;
}

p::first-letter {
  color: #fff;
}

.input_video {
  display: none;
}

.dactil-row {
  height: 98px;
  overflow: hidden;
  position: relative;
}

.letter {
  background-image: url(./dactil.jpg);
  width: 152px;
  height: 186px;
  display: inline-block;
  margin-right: 10px;
  border: 5px solid #000;
  border-radius: 20px;
  transform: scale(.5) translateY(-98px);
  margin: 0 -39px;
  opacity: .2;
}

.letter:first-child {
  opacity: 1;
}

.letter._ {
  background-image: none;
  width: 40px;
  border: none;
  margin: 0;
}

.letter.а {
  background-position: -7px -5px;
}

.letter.б {
  background-position: -165px -5px;
}

.letter.в {
  background-position: -323px -5px;
}

.letter.г {
  background-position: -480px -5px;
}

.letter.д {
  background-position: -636px -5px;
}

.letter.е {
  background-position: -793px -5px;
}

.letter.ж {
  background-position: -957px -5px;
}

.letter.з {
  background-position: -1116px -5px;
}

.letter.и {
  background-position: -7px -195px;
}

.letter.й {
  background-position: -165px -195px;
}

.letter.к {
  background-position: -323px -195px;
}

.letter.л {
  background-position: -480px -195px;
}

.letter.м {
  background-position: -636px -195px;
}

.letter.н {
  background-position: -793px -195px;
}

.letter.о {
  background-position: -957px -195px;
}

.letter.п {
  background-position: -1116px -195px;
}

.letter.р {
  background-position: -7px -385px;
}

.letter.с {
  background-position: -165px -385px;
}

.letter.т {
  background-position: -323px -385px;
}

.letter.у {
  background-position: -480px -385px;
}

.letter.ф {
  background-position: -636px -385px;
}

.letter.х {
  background-position: -793px -385px;
}

.letter.ц {
  background-position: -957px -385px;
}

.letter.ч {
  background-position: -1116px -385px;
}

.letter.ш {
  background-position: -7px -575px;
}

.letter.щ {
  background-position: -165px -575px;
}

.letter.ы {
  background-position: -323px -575px;
  width: 242px;
}

.letter.ь {
  background-position: -577px -575px;
  width: 211px;
}

.letter.э {
  background-position: -793px -575px;
}

.letter.ю {
  background-position: -957px -575px;
}

.letter.я {
  background-position: -1116px -575px;
}
